// kế thừa sử dụng thêm class này
// .backgroundImg {
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }

// Placeholder: kế thừa các thuộc tính của nó
%backgroundImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}